<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
  </head>
  <body>
    <form class="tasks" action="/" method="post">
      <input type="text" name="newTask" value="">
      <button type="submit" name="button">Add New To Do</button>
    </form>
    <br>
    {{#tasks}}
      <form class="" action="" method="post">
    {{/tasks}}
      </form>
  </body>
</html>
