<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
  </head>
  <body>
    <form class="tasks" action="/" method="post">
      <input type="text" name="newTask" value="">
      <button type="submit" name="button">Add New To Do</button>
    </form>
    <br>
    {{#tasks}}
    {{^done}}
    <form class="stillToDo" action="/" method="post">
    <button type="submit" name="button">Mark Complete</button>
      {{text}}
    </form>
    {{/done}}
    {{/tasks}}
    {{#tasks}}
    {{#done}}
    <form class="completed" action="/" method="post">
    <ul>
    <h3>Completed</h3>
    {{text}}</ul>
    </form>
    {{/done}}
    {{/tasks}}
  </body>
</html>
